# Parrot-Sec
# https://www.parrotsec.org/

iso_pattern="Parrot-home-7*.iso"

for isofile in ($dev,*)$iso_dir/$iso_pattern; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$iso_dir/(.*)" "$isofile"

		submenu "$isoname [config_priv] ->" "$isofile" "$iso_dir/$isoname" {
			iso_path="$3"
			LOOPBACK "$2"
			isocfg="findiso=$iso_path"
			bootoptions=""
			linux_path=""
			initrd_path=""

set default=0
set timeout=10

# Live boot
menuentry "Try / Install" --class iso {
        set gfxpayload=keep
        linux (loop)/live/vmlinuz findiso=${iso_path} boot=live hostname=parrot quiet splash components noautomount noeject
        initrd (loop)/live/initrd.img
}

menuentry "RAM mode" --class ram {
        set gfxpayload=keep
        linux (loop)/live/vmlinuz findiso=${iso_path} boot=live hostname=parrot quiet splash components noautomount toram noeject
        initrd (loop)/live/initrd.img
}

menuentry "Persistence (needs configuration)" --class hdd {
        set gfxpayload=keep
        linux (loop)/live/vmlinuz findiso=${iso_path} boot=live hostname=parrot quiet splash components noautomount persistence
        initrd (loop)/live/initrd.img
}

menuentry "Encrypted persistence (needs configuration)" --class hdd {
        set gfxpayload=keep
        linux (loop)/live/vmlinuz findiso=${iso_path} boot=live hostname=parrot quiet splash components noautomount persistent=cryptsetup persistence-encryption=luks persistence
        initrd (loop)/live/initrd.img
}

if true; then
menuentry "memtest86" --class memtest {
	linux16 (loop)/live/memtest
}
fi

menuentry "Disable Nvidia GPU" --class nvidia {
        set gfxpayload=keep
        linux (loop)/live/vmlinuz findiso=${iso_path} boot=live hostname=parrot quiet splash components noautomount nouveau.modeset=0 nvidia.modeset=0
        initrd (loop)/live/initrd.img
}

menuentry "Failsafe-gpu (GPU nomodeset)" --class display {
        set gfxpayload=keep
        linux (loop)/live/vmlinuz findiso=${iso_path} boot=live hostname=parrot quiet splash components noautomount nomodeset
        initrd (loop)/live/initrd.img
}

menuentry "Failsafe-hw (HW compatibility issues)" --class display {
        set gfxpayload=keep
        linux (loop)/live/vmlinuz findiso=${iso_path} boot=live hostname=parrot quiet splash components noautomount config memtest noapic noapm nodma nomce nolapic nomodeset noquiet splash components vga=normal
        initrd (loop)/live/initrd.img
}

menuentry "Power Off" --class shutdown {
	halt
}
}
fi
done
